header {
  height: 40px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

header svg {
  height: 100%;
}
header div{
  justify-content:space-around ;
  margin-right: 10%;
  padding-top: 3%;
  font-size: medium;
}

header .selected{
  border-bottom: 5px solid bisque;
}
